%% -*- erlang -*-
[
 {eroonga, [
            {poolboy, [
                       {eroonga_pool,
                        [
                         {size, 1},
                         {max_overflow, 3}
                        ],
                        eroonga_port,
                        [
                         {path, <<"/tmp/groonga/x3">>},
                         {options, []}
                        ]}
                      ]},
            {driver, [
%                     {name, "liberoonga_drv"}
%, {settings,[]}
                     ]}
           ]}
].
