%% -*- erlang -*-
{incl_mods, [
             eroonga.erl,
             eroonga_app.erl,
             eroonga_client.erl,
             eroonga_driver.erl,
             eroonga_port.erl,
             eroonga_protocol_qgtp.erl,
             eroonga_sup.erl,
             eroonga_util.erl
            ]}.
